name: Deploy static content to Pages

on:
  # Jalan setiap kali ada update di branch main
  push:
    branches: ["main"]

  # Biar bisa dijalankan manual lewat tab Actions
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Obfuscate JavaScript
        run: |
          npm install -g javascript-obfuscator
          javascript-obfuscator ./assets/script.js --output ./assets/script.js --compact true --self-defending true --disable-console-output true --debug-protection true --debug-protection-interval 4000
          javascript-obfuscator ./auth.js --output ./auth.js --compact true --self-defending true --disable-console-output true --debug-protection true --debug-protection-interval 4000
          javascript-obfuscator ./layout.js --output ./layout.js --compact true --self-defending true --disable-console-output true --debug-protection true --debug-protection-interval 4000
          javascript-obfuscator ./assets/youtube-noads-2.0-final.js --output ./assets/youtube-noads-2.0-final.js --compact true --self-defending true --disable-console-output true --debug-protection true --debug-protection-interval 4000
          javascript-obfuscator ./assets/js/main.js --output ./assets/js/main.js --compact true --self-defending true --disable-console-output true --debug-protection true --debug-protection-interval 4000

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload seluruh isi folder
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
